In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\USER\Downloads\Customer Call List.xlsx')

In [3]:
df

,Unnamed: 0,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_code
0,0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,NaN
1,1,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,NaN,NaN
2,2,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,NaN,NaN
3,3,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,NaN
4,4,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,NaN,NaN
5,5,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,NaN,NaN
6,6,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,NaN,NaN
7,7,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,NaN,NaN
8,8,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,NaN
9,9,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,NaN

In [4]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
#Drop duplicate rows in data set 
df=df.drop_duplicates()

In [ ]:
df

In [ ]:
#drop the unecessary columns 
df=df.drop(columns=["Not_Useful_Column"])

In [ ]:
df

In [ ]:
#Remove the unecessary characters from left and right
df["Last_Name"]=df["Last_Name"].str.lstrip("...")
df["Last_Name"]=df["Last_Name"].str.lstrip("/")
df["Last_Name"]=df["Last_Name"].str.rstrip("_")
#df["Last_Name"]=df["Last_Name"].str.strip("123._/")

In [ ]:
df

In [ ]:
#Remove the characters /,---
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','',regex=True)

In [ ]:
df

In [ ]:
#Change the  type of phone number to string
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))

In [ ]:
df

In [ ]:
#Add phone number pattern
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] +'-'+ x[3:6] +'-'+ x[6:10])

In [ ]:
df

In [ ]:
#remove the nan-- and Na in phone number
df["Phone_Number"] = df["Phone_Number"].str.replace('nan--','')
df["Phone_Number"] = df["Phone_Number"].str.replace('Na--','')

In [ ]:
df

In [ ]:
#Split the address column
df[["Street_Address","State","Zip_code"]] = df["Address"].str.split(',',n=2, expand=True)

In [ ]:
df

In [ ]:
#replace Yes or no 
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes','Y')
df["Paying Customer"] = df["Paying Customer"].str.replace('No','N')
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes','Y')
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No','N')

In [ ]:
df

In [ ]:
#replace N/a
df = df.replace('N/a','')

In [ ]:
df

In [ ]:
#replace NaN with null
df = df.fillna('')

In [ ]:
df

In [ ]:
for x in df.index:
    if df.loc[x,"Do_Not_Contact"] == 'Y':
       df.drop(x, inplace=True)
df

In [ ]:
df=df.drop(columns=["Address"])
df

In [ ]:
for x in df.index:
    if df.loc[x,"Phone_Number"] == '':
       df.drop(x, inplace=True)
df
#Another way to drop null values
#df=df.dropna(subset="Phone_Number"), inplace=True

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df

In [ ]:
df.to_excel('C:\\Users\\USER\\Downloads\\Customer Call List.xlsx', index=True)